/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2015, 4:31:40 PM
    Author     : Adam
*/

html{
    height: 100%;
    width: 100%;
}
body{
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    background-color: rgb(255,255,133);
    overflow-x: hidden;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    font-family: Georgia, sans;
    font-size: 16px;
    background-color: rgb(255,235,0);
    width: 100%;
    
}

section{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

article{
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-family: Georgia, sans;
  text-align: center;
}

footer{
   background-color: rgb(255,235,0);
   padding: 5px;
   width: 100%;
   position: absolute;
   bottom: 0px;
}

.fa{
   margin: 0;
   position: relative;
   left: 45%;
    
}



