/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255, 255, 133);
    -fx-alignment: center;
    
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-border-thickness: 10px;
    -fx-border-color: rgb(0, 0, 10);
    -fx-font-family: Georgia, serif;
    -fx-font-size: 16px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-border-thickness: 10px;
    -fx-background-color: rgb(255,235,0);
    -fx-font-family: Georgia, serif;
    -fx-font-size: 16px;
}
.vertical_toolbar_button {
    -fx-padding: 10px 10px 10px 10px;
    -fx-margin: 100px, 50px;
    -fx-font-size: 16px;
    -fx-font-family: Georgia, serif;
    -fx-font-style: italic;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-font-size: 16px;
    -fx-font-family: Georgia, serif;
    -fx-font-style: italic;
}
